<div class="row">
  <h2>Funding last week</h2>
  <p>Wrong username or password. Please re-enter.</p>
  <%= form_tag("/ctw/result", method: "post") do %>
    <%= label_tag(:username, "Wordpress username:") %>
    <%= text_field_tag :username, nil, placeholder: "Examples: 'Anh-Minh Do', 'Terence Lee', 'Willis Wee'" %>
    <%= label_tag(:password, "Wordpress password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>