<div class="row">
  <div class="result large-8 columns" style="color:black">
    <h2>TKTK startup funding rounds in Asia last week (DATE)</h2>
    <div style="font-size:0.9em">
    	<p><em>Tags: funding, Funding in Asia, Startup Funding, Weekly Funding News</em></p>
    	<p><em>Markdown/HTML code:</em></p>
    	<%=h "<img class=\"aligncenter size-full wp-image-169099\" alt=\"FUNDING_WEEKLY\" src=\"http://www.techinasia.com/wp-content/uploads/2014/03/FUNDING_WEEKLY.png\" width=\"720\" height=\"363\" />" %>
      <br><br>
      SUMMARY
      <br><br>
    	<%# @article_count = 1 %>
	    <% @articles.each do |article| %>
		    <%# 'next' goes to the next iteration, 'break' exist the loop %>
		    <% next if (Time.now - 777600).to_date >= article.date || article.funding == false || article.headline.include?("startup funding rounds") || article.startup == false %>
		    <strong><%#= @article_count %>##NUMBER. **[STARTUP NAME | <%= article.country %>](<a href="<%= article.url %>"><%= article.url %></a>)</strong>**
        <br><br>
  	    <% if article.summary == false %>
          Opps. Article summarization failed. Add it manually in Wordpress later.
  	    <% else %>
          <% article.summary.each do |sentence| %>
            <%= sentence %>&nbsp;
          <% end %>&nbsp;([Techlist profile](http://www.techlist.asia/))
  	    <% end %>
        <br><br><br>
        <%# @article_count += 1 %>
	    <% end %>
	    (Editing by TKTK)  
	    <br><br><br>
	  </div>
  </div>
</div>