<div class="row">
  <h2>Listmaker</h2>
  <%= form_tag("/ctw/result", method: "post") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Submit") %>
  <% end %>
  <p>Article retrieval and summarization will take a moment. Please wait patiently.</p>
</div>