<br><br>
<div class="row">
  <h2>China this week</h2>
  <%= form_tag("/ctw/result", method: "post") do %>
    <%= label_tag(:username, "Wordpress username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Wordpress password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>