<div class="row">
  <div class="result large-8 columns">
    <h2>China This Week</h2>
    <% wp = Rubypress::Client.new(:host => "techinasia.com", :username => @username, :password => @password) %>
    <%# test if username or password is correct. If not, exception raised. %>
    <% wp.getOptions %>
    <% @articles.each do |article| %>
      <% next if (Time.now - 777600).to_date >= article.date || article.china == false %>
      <h3 class="headline" style="cursor: pointer;" value="<%= article.url %>"><%= article.headline %></h3>
      <br>
      <p>Date: <%= article.date %></p>
    	<% if article.summary == ["Summarization failed."] %>
        Opps. Article summarization failed. Add it manually in Wordpress later.
    	<% else %>
        <% article.summary.each do |sentence| %>
          <span class ="summary" style="cursor: pointer;"><%= sentence %></span><br><br>
        <% end %>
    	<% end %>
      <br><br>
    <% end %>
  </div>
  <div class="large-4 columns" style="position: fixed; right: 20px">
    <div class ="large-12 columns">
      <form>
          <textarea id="wpsummary" placeholder="Type the first paragraph of your article here."></textarea>
          <button type="button" value="Save">Save</button>
          Hit 'save' before you submit.
      </form>

      <%= form_tag("/ctw/complete", method: "post") do %>
        <%= hidden_field_tag(:wptitle) %>
        <%= hidden_field_tag(:wpbody) %>
        <%= hidden_field_tag(:username, @username) %>
        <%= hidden_field_tag(:password, @password) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </div>

    <div class ="large-12 columns" style="font-size: 80%">
      <h4>Instructions</h4>
      <ul>
        <li>Click headlines and summaries to select them.</li>
        <li>Click again to deselect.</li>
        <li>More than one summary sentence may be used.</li>
        <li>Type your intro text for the post</li>
        <li>Once everything is confirmed, press save.</li>
        <li>If changes are made after saving, save it again.</li>
        <li>Press submit to save a draft to Wordpress.</li>
        <li>SEO and tags must be filled manually.</li>
      </ul>
    </div>
  </div>
</div>

<%= javascript_tag do %>

  // selection of headlines, and blocking of summaries from being selected if headline is deselected
  $(document).ready(function(){
    $(".headline").click(function(){
	    $(this).toggleClass("headline-selected");
      $(this).nextUntil("h3").toggleClass("summary-enabled");
      if ($(this).nextUntil("h3").hasClass("summary-selected")) {
        $(this).nextUntil("h3").removeClass("summary-selected");
      }
	  });
  });

  // selection of article summaries
  $(document.body).on("click", "span.summary.summary-enabled", function(){
    $(this).toggleClass("summary-selected");
  });

  // creates HTML code on pressing Save
  $(document.body).on("click", "button[value='Save']", function(){
    var CTWLength = $(".headline-selected").length;
    var wpTitle = CTWLength + " must-read tech stories in China this week";
    var wpSummary = "<p>" + $("#wpsummary").val();
 
    // runs through DOM to add selected elements
    var headlineCount = 1
    var wpList = "";
    $("[class*='selected']").each(function() {
      //inserts headline
      if ($(this).hasClass("headline-selected")) {
        var wpList1 = "</p><hr /><h3>" + headlineCount + ". <a href='" + $(this).attr("value") + "'>" + $(this).text() + "</a></h3><p>";
        headlineCount = headlineCount + 1;
      //inserts summary
      } else {
        var wpList1 = $(this).text() + " ";
      }
      wpList = wpList + wpList1;
    });

    // combine all generated HTML together
    var wpBody = "<img alt='CTW - China tech news this week' src='http://cdn.techinasia.com/wp-content/uploads/2013/03/China-tech-news-this-week-v8.jpg' width='1000' height='593' />" + wpSummary + wpList + "<hr /><p>That’s all for this week, folks! For our full spread of China coverage, you might like to subscribe to our <a href='http://www.techinasia.com/tag/china/feed/' >China RSS feed</a>.</p><p><em>This article was generated with the help of <a href='https://github.com/terenceleejx/listmaker'>Listmaker</a>, an open-source tool for creating list articles.</em></p>";

    $("#wptitle").val(wpTitle);
    $("#wpbody").val(wpBody);
  });

<% end %>