<div class="result row">
  <h2>China This Week</h2>
  <% wp = Rubypress::Client.new(:host => "techinasia.com", :username => @username, :password => @password) %>
  <% wpposts = wp.getPosts(blog_id: "0", filter: {post_type: "post", post_status: "published", number: 10, orderby: "date", order: "DESC"}, fields: ["post_title", "terms", "post_date", "link"]) %>
  <% t = (Time.now - 604800).to_date %>
  <% wpposts.each do |wppost| %>
    <% if wppost["terms"].any? {|x| x["name"] == "China"} == true && wppost["post_date"].to_date >= t  %>
      <h3 class="headline" style="cursor: pointer;" value="<%= wppost["link"] %>">
      	<%= wppost["post_title"] %>
      </h3>
      <br>
      <% 
	  response = Unirest::post "https://newsco-article-summary.p.mashape.com/summary.json", 
  		headers: { 
   		 "X-Mashape-Authorization" => "2zPKOatW4wEiFAoWTgnmonm6G9T3WwEl"
  	  },
  	  parameters: { 
    	"url" => wppost["link"]
  	  }
  	  %>
	  <% wpsummary = response.body["summary"] %>
	  <% if wpsummary.nil? == false %>
	    <span class ="summary" style="cursor: pointer;"><%= wpsummary[0] %></span><br><br>
	    <span class ="summary" style="cursor: pointer;"><%= wpsummary[1] %></span><br><br>
	    <span class ="summary" style="cursor: pointer;"><%= wpsummary[2] %></span><br><br>
	  <% else %>
	    Opps. Article summarization failed. Add it manually in Wordpress later.
	  <% end %>
      <%= wppost["post_date"].to_date() %><br><br>
    <% end %>
  <% end %>

  <hr />

  <%= form_tag("/ctw/complete", method: "post") do %>
    <%= text_area_tag(:wpSummary, "Type the first paragraph of your article here.", size: "28x5") %>
    <%= submit_tag("Submit") %>
  <% end %>

</div>

<%= javascript_tag do %>

  // selection of headlines, and blocking of summaries from being selected if headline is deselected
  $(document).ready(function(){
    $(".headline").click(function(){
	    $(this).toggleClass("headline-selected");
      $(this).nextUntil("h3").toggleClass("summary-enabled");
      if ($(this).nextUntil("h3").hasClass("summary-selected")) {
        $(this).nextUntil("h3").removeClass("summary-selected");
      }
	  });
  });

  // selection of article summaries
  $(document.body).on("click", "span.summary.summary-enabled", function(){
    $(this).toggleClass("summary-selected");
  });

  // creates HTML code on pressing Submit
  $(document.body).on("click", "input[value='Submit']", function(){
    var CTWLength = $(".headline-selected").length;
    var wpTitle = CTWLength + " must-read tech stories in China this week";
    var wpSummary = "<p>" + $("#wpSummary").val() + "</p>";
 
    // runs through DOM to add selected elements
    var headlineCount = 1
    var wpList = "";
    $("[class*='selected']").each(function() {
      if ($(this).hasClass("headline-selected")) {
        var wpList1 = "<hr /><h3>" + headlineCount + ". " + "<a href='" + $(this).attr("value") + $(this).text() + "</a>" + "</h3>";
        headlineCount = headlineCount + 1;
      } else {
        var wpList1 = "<p>" + $(this).text() + "</p>";
      }
      wpList = wpList + wpList1;
    });

    // combine all generated HTML together
    var wpBody = "<img alt='CTW - China tech news this week' src='http://cdn.techinasia.com/wp-content/uploads/2013/03/China-tech-news-this-week-v8.jpg' width='1000' height='593' />" + wpSummary + wpList + "<hr /><p>That’s all for this week, folks! For our full spread of China coverage, you might like to subscribe to our <a href='http://www.techinasia.com/tag/china/feed/' >China RSS feed</a>.</p>";

    // AJAX request to send javascript variables to server

    

    // submit draft to WordPress
    // <% wp.newPost(blog_id: "0", content: {post_title: }) %>
  });

<% end %>